[submodule "test/external/qmcpack/qmcpack"]
	path = tests/external/qmcpack/qmcpack
	url = https://github.com/QMCPACK/qmcpack.git
	branch = main
[submodule "test/external/hdf5_iotest/hdf5-iotest"]
	path = tests/external/hdf5_iotest/hdf5-iotest
	url = https://github.com/HDFGroup/hdf5-iotest.git
	branch = master
[submodule "tests/external/openpmd/openPMD-api"]
	path = tests/external/openpmd/openPMD-api
	url = https://github.com/openPMD/openPMD-api
	branch = dev
